.hero {
    text-align: center; 
    padding: 20px;
    justify-content: space-around;
    margin: 20px auto;
   background-color: black;
   color:aliceblue;
   height:200px;
}

.text {
    margin-bottom: 5px; 
}
.hero img {
    height:80px;

}