.hero {
    text-align: center; 
    padding: 20px;
    justify-content: space-around;
    margin: 20px auto 0;
   background-color: black;
   color:aliceblue;
   height:150px;
   margin-top: 0px;
}

.text {
    margin-bottom: 5px; 
}
.hero img {
    
    height:50px;
    margin-right: 20px;



}